<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/img/logo.png" />
    <ion-card-header>
      <ion-card-title>Gunatit Yuvak Mandal</ion-card-title>
      <ion-card-subtitle>Andheri | Vile Parle | Santacruz</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      The app is created for tracking daily incidents where we get failed due to Hath, Maan, Irsha, Kaam, Krodh, Lobh. Swamiji's abhipray is to do bhajan and pray whenever one fails, and to track such incidents and self-interospect where one is failing, this app is created.
    </ion-card-content>
  </ion-card>
</ion-content>
